controller:
  image:
    repository: jenkins-with-tools
    tag: lts
    pullPolicy: IfNotPresent

  admin:
    username: ${jenkins_user}
    password: ${jenkins_password}

  serviceType: NodePort
  servicePort: 8080
  nodePort: 32000

  JCasC:
    defaultConfig: false
    configScripts:
      custom: |-
        jenkins:
          systemMessage: "Managed by Terraform + Helm + JCasC"
          numExecutors: 2

          securityRealm:
            local:
              allowsSignup: false
              users:
                - id: "${jenkins_user}"
                  password: "${jenkins_password}"

          authorizationStrategy:
            loggedInUsersCanDoAnything:
              allowAnonymousRead: false

        credentials:
          system:
            domainCredentials:
              - credentials:
                  - usernamePassword:
                      scope: GLOBAL
                      id: "git-creds"
                      username: "git"
                      password: "git123"
                      description: "Git credentials for pipelines"

        unclassified:
          location:
            url: "http://jenkins.apps.svc.cluster.local:8080/"

  runAsUser: 0
  fsGroup: 0
  securityContext:
    runAsUser: 0
    fsGroup: 0

  installPlugins:
    - workflow-aggregator
    - git
    - credentials
    - credentials-binding
    - configuration-as-code
    - job-dsl
    - blueocean
    - kubernetes
    - matrix-auth
    - command-launcher
    - timestamper

  nodeSelector:
    node-role.kubernetes.io/master: "true"
  tolerations:
    - key: node-role.kubernetes.io/master
      operator: Exists
      effect: NoSchedule